<div id="<%= dom_id part %>">
  <p>
    <strong>Name:</strong>
    <%= part.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= part.position_id %>
  </p>

  <p>
    <strong>Sub position:</strong>
    <%= part.sub_position %>
  </p>

  <p>
    <strong>Minutes:</strong>
    <%= part.minutes %>
  </p>

</div>
