<p style="color: green"><%= notice %></p>

<%= render @style_spec %>

<div>
  <%= link_to "Edit this style spec", edit_style_spec_path(@style_spec) %> |
  <%= link_to "Back to style specs", style_specs_path %>

  <%= button_to "Destroy this style spec", @style_spec, method: :delete %>
</div>
