<div id="<%= dom_id piece %>">
  <p>
    <strong>Name:</strong>
    <%= piece.name %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= piece.area %>
  </p>

  <p>
    <strong>Sub area:</strong>
    <%= piece.sub_area %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= piece.image %>
  </p>

</div>
