<%= form_with(model: style) do |form| %>
  <% if style.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
        <% style.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form_section">
    <%= form.label :style_num, "Style Number", style: "display: block" %>
    <%= form.text_field :style_num %>
  </div>

  <div class="form_section">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="form_section">
    <%= form.label :brand, style: "display: block" %>
    <%= form.select :brand, grouped_options_for_select(Style.grouped_brands_for_select,@style.brand) %>
  </div>

  <div class="form_section">
    <%= form.label :gender, style: "display: block" %>
    <%= form.select :gender, options_for_select(['Gents','Ladies','Unisex'],@style.gender) %>
  </div>

  <div class="form_section">
    <%= form.label :style_image, style: "display: block" %>
    <p class="explanation">Image will resize and then crop to 300x300px, for best results please use a square image</p>
    <div class="file_field_section">
      <%= form.file_field :image, :class => "form_file_field", :accept => ".jpg,.gif,.svg,.png,.jpeg" %>
    </div>
  </div>

  <div class="centered_sub">
    <%= form.submit %>
  </div>
<% end %>
