<%=turbo_frame_tag :content do %>
  <p style="color: green"><%= notice %></p>

  <%= render @style %>

  <div>
    <%= link_to "Edit this style", edit_style_path(@style), data:{:turbo_frame => "content"} %> |
    <%= link_to "Back to styles", specs_path, data:{:turbo_frame => "content"} %>

    <%= button_to "Destroy this style", @style, method: :delete %>
  </div>
<% end %>