<%= form_with(model: spec) do |form| %>
  <% if spec.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(spec.errors.count, "error") %> prohibited this spec from being saved:</h2>

      <ul>
        <% spec.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :style_id, style: "display: block" %>
    <%= form.text_field :style_id %>
  </div>

  <div>
    <%= form.label :last_edited, style: "display: block" %>
    <%= form.date_field :last_edited %>
  </div>

  <div>
    <%= form.label :last_exported, style: "display: block" %>
    <%= form.date_field :last_exported %>
  </div>

  <div>
    <%= form.label :last_printed, style: "display: block" %>
    <%= form.date_field :last_printed %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
