<div id="<%= dom_id spec %>">
  <p>
    <strong>User:</strong>
    <%= spec.user_id %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= spec.style_id %>
  </p>

  <p>
    <strong>Last edited:</strong>
    <%= spec.last_edited %>
  </p>

  <p>
    <strong>Last exported:</strong>
    <%= spec.last_exported %>
  </p>

  <p>
    <strong>Last printed:</strong>
    <%= spec.last_printed %>
  </p>

</div>
