<%= turbo_frame_tag :content do %>

  <div class="content_window">

    <h1>Specifications</h1><br>

    <%= form_with url: spec_table_path, :class => "in_line_form", :method => :get, data:{:turbo_frame => "spec_table", :controller => "autosub", autosave_delay_value: '1000'} do |form| %>
      Filter: 
      <%= form.text_field :style_filter, data:{"action" => "keyup->autosub#save"} %>
    <% end %>

   

    <%= turbo_frame_tag :spec_table, src: spec_table_path do %>
      <div class="single4"></div>
    <% end %>

  </div> <!-- content_window -->  

   <%= button_to new_style_path, :class => "new_button new_spec_button", :method => :get, data:{turbo_frame: "content"} do %>
      <i class="icon">add</i>&nbsp;New Style
    <% end %> <!-- new style button --> 

<% end %> <!-- content turbo frame -->