<p style="color: green"><%= notice %></p>

<%= render @piece_construction %>

<div>
  <%= link_to "Edit this piece construction", edit_piece_construction_path(@piece_construction) %> |
  <%= link_to "Back to piece constructions", piece_constructions_path %>

  <%= button_to "Destroy this piece construction", @piece_construction, method: :delete %>
</div>
